<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="{$Think.const.MANAGE}static/h-ui/css/H-ui.css" />

<link href="{$Think.const.MANAGE}lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{$Think.const.MANAGE}lib/icheck/icheck.css" />
<link href="{$Think.const.MANAGE}static/h-ui/css/app.css" rel="stylesheet" type="text/css"/>
<!--[if lt IE 9]>
<link href="static/h-ui/css/H-ui.ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>如e教学管理系统</title>
<script type="text/javascript" src="{$Think.const.MANAGE}lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="{$Think.const.MANAGE}static/h-ui/js/jquery.browser.min.js"></script> 
<script type="text/javascript" src="{$Think.const.MANAGE}static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="{$Think.const.MANAGE}lib/icheck/jquery.icheck.min.js" ></script>
<script type="text/javascript" src="{$Think.const.MANAGE}static/h-ui/js/data.js?id=1"></script>
<script type="text/javascript" src="{$Think.const.MANAGE}static/h-ui/js/app.js?is=121"></script>
</head>
<body data-schoolid="{$arr.schoolid}" data-src="{$Think.const.MANAGE}" data-load="{$Think.const.MANAGE}/static/h-ui/images/loading.gif">
 <section class="all-boay">
  <block name="include"><include file="head" /></block><!--进入公用模版-->
  <section class="content-body" style="margin-top: 0px;">
  	<div class="cb-left">
  	  <ul>
  	  	<li><a href="__URL__">总览</a></li>
  	  	<li><a href="__URL__/teacherManage/schoolid/{$arr.schoolid}">教师统计</a></li>
  	  	<li><a href="__URL__/studentManage/schoolid/{$arr.schoolid}">学生统计</a></li>
  	  	<li><a href="__URL__/classManage/schoolid/{$arr.schoolid}">班级统计</a></li>
  	  	<li><a href="__URL__/homeworkManage/schoolid/{$arr.schoolid}">作业管理</a></li>
  	  	<li><a href="__URL__/examManage/schoolid/{$arr.schoolid}">考试管理</a></li>
  	  	<li class="active">权限管理</li>
  	  </ul>
  	</div>
  	<div class="cb-right" style="margin-top: 61px;">
  	</div>
  </section>
 </section>	
 
</body>	
</html>
<script>
  $(function(){		
    var name = $.browser.name;
    if (name!="chrome" && name!="firefox") {        
         var w = $(document).width();
         var html ="<div class='browser-msg' style=\"left:"+((w-500)/2)+"px\">当前浏览器为IE或IE内核的浏览器可能出现部分功能不支持，建议使用谷歌或者火狐 <i class=\"Hui-iconfont\">&#xe60b;</i></div>"
         $("body").append(html);
         $(".browser-msg>.Hui-iconfont").off().on("click",function(){
           $(".browser-msg").remove();
         })
      }
  })	
</script>