<ul id="menulist">
	<li><a href="__APP__/PlanClass/Index">选课管理</a> </li>
	<li><span>分班管理</span> <i class="Hui-iconfont">&#xe6d7;</i>
	   <div class="sub-menu">
	   	  <a href="__APP__/PlanClass/Index/splitclass">开始分班</a>
	   	  <a href="__APP__/PlanClass/Index/disteacher">已分班管理</a>
	   </div>	
	</li>			  
	<li><span>智能排课</span> <i class="Hui-iconfont">&#xe6d7;</i>
		<div class="sub-menu">
	   	  <a href="__APP__/PlanClass/Index/weeklesson">课时计划</a>
	   	  <a href="__APP__/PlanClass/Index/classroom">教室禁排</a>
	   	  <a href="__APP__/PlanClass/Index/teacher">教师禁排</a>
	   	  <a href="__APP__/PlanClass/Index/course">科目禁排</a>
	   	  <a href="__APP__/PlanClass/Index/start">开始排课</a>
	   </div>
	</li>
	<li><span>课表查询</span> <i class="Hui-iconfont">&#xe6d7;</i>
		<div class="sub-menu">
	   	  <a href="__APP__/PlanClass/Index/classroomtable">教室课表</a>
	   	  <a href="__APP__/PlanClass/Index/teachertable">教师课表</a>
	   	  <a href="#">教师课时统计</a>			  	   
	   </div>
	</li>
</ul>