<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<!--[if lt IE 9]>
		<script type="text/javascript" src="{$Think.const.PLANCLASS}lib/html5shiv.js"></script>
		<script type="text/javascript" src="{$Think.const.PLANCLASS}lib/respond.min.js"></script>
		<![endif]-->
		<link rel="stylesheet" type="text/css" href="{$Think.const.PLANCLASS}resources/static/h-ui/css/H-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="{$Think.const.PLANCLASS}resources/lib/Hui-iconfont/1.0.8/iconfont.min.css" />
		<link rel="stylesheet" type="text/css" href="{$Think.const.PLANCLASS}resources/css/app.css?id=1233" />
		<!--[if lt IE 9]>
		<link href="{$Think.const.PLANCLASS}static/h-ui/css/H-ui.ie.css" rel="stylesheet" type="text/css" />
		<![endif]-->
		<!--[if IE 6]>
		<script type="text/javascript" src="{$Think.const.PLANCLASS}lib/DD_belatedPNG_0.0.8a-min.js" ></script>
		<script>DD_belatedPNG.fix('*');</script>
		<![endif]-->
		<title>如e教育 - 学校管理系统</title>
		<script type="text/javascript" src="{$Think.const.PLANCLASS}resources/lib/jquery/1.9.1/jquery.min.js"></script> 
        <script type="text/javascript" src="{$Think.const.PLANCLASS}resources/static/h-ui/js/H-ui.min.js"></script>
        <script type="text/javascript" src="{$Think.const.PLANCLASS}resources/lib/layer/layer.js" ></script>
        <script type="text/javascript" src="{$Think.const.PLANCLASS}resources/lib/My97DatePicker/4.8/WdatePicker.js" ></script>
        <script src="{$Think.const.PLANCLASS}resources/js/app.js?id=1151"></script>
        <script>
        	$(function(){
        		 $("#menulist>li>span").off().on("click",function(){
        		 	  var obj = $(this).parent("li");
        		 	  showMenu(obj)
        		 })
        		 $(".fenbaninput").keyup(function(event){        		 	
        		 	 var obj = $(this);
        		 	 if(event.keyCode==190){
        		 	 	 obj.val("");
        		 	 	 obj.parent("td").next("td").html("0");
        		 	 }
        		 	 else  calculate(obj);
        		 });
        		 $("#start").off().on("click",function(){
        		 	 var obj = $(this);
        		 	 startFanBan(obj);
        		 })
        	})
        </script>
	</head>
	<body data-schoolid = "{$out.schoolid}" data-ajax="__APP__/PlanClass/Ajax/">
      <section class="all-body">
		<block name="include"><include file="head" /></block><!--进入公用模版-->
		<div class="content-body">
			<div class="left">
			  <block name="include"><include file="left" /></block>
			</div>
			<div class="right">
				<div class="art-body">
				    <!--<div class="nodata"><img src="{$Think.const.PLANCLASS}resources/img/nodata.png"/></div>-->
					 <table class="table table-border table-bordered table-hover radius">
					 	<tr>
					 		<th width="30"></th>					 		
					 		<th>年级</th>
					 		<th>科目</th>					 	
					 		<th>待分班人数</th>
					 		<th>班级数量</th>
					 		<th>班级人数</th>
					 	</tr>
					 	{$html}
					 	<!--<volist name="list" id="vo">
					 	<tr>
					 		<td><input type="checkbox" name="idlist" value="{$vo.id}"  {$vo.id|SetDisabled}/></td>
					 		<td>{$vo.grade|SetGrage}</td>
					 		<td>{$vo.courseid|GetCourseName}</td>
					 		<td>{$vo.type|SetTypes}</td>
					 		<td>{:GetStudentNumber($vo['id'],$out['schoolid'])}</td>
					 		<td data-num ="{:GetStudentNumber($vo['id'],$out['schoolid'])}" data-grade="{$vo.grade}"  data-coursename="{$vo.name}"><input id="input-{$vo.id}" type="text"  class="input-text radius size-MINI fenbaninput" {$vo.id|Readonly}/></td>
					 		<td>0</td>
					 	</tr>
					 	</volist>-->
					 </table>
					 <div class="table-bottom">
					 	<div class="sub-left">
					 		<div class="check-box">
				              <input type="checkbox" id="checkbox-5" name="checkbox2" datatype="*">
				              <label for="checkbox-5">原行政班级同学优先分配至同一个班级</label>
				            </div>
					 	</div>
					 	<div class="sub-right">
					 		<a class="btn btn-secondary radius" id="start" data-ismark="0">&nbsp;开始分班&nbsp;<img src="{$Think.const.PLANCLASS}resources/img/loading.gif" style="display:none"/></a>
					 	</div>
					 </div>
					 <div class="page">
	                    {$page}
				  	 </div>
				</div>
			</div>
		</div>
	 </section>
	</body>
</html>
